<br>
       <footer class="text-center text-white bg-dark py-4">
           <div class="container">
             <div class="row">
               <div class="col-md-4">
                 <h2 class="h5">Thông tin về shop</h2>
                 <p class="text-muted">Giới thiệu công ty</p>
                 <p class="text-muted">Tin tức công ty</p>
                 <p class="text-muted">Kiến thức về đồng hồ</p>
               </div>
               <div class="col-md-4">
                 <h2 class="h5">Thông tin liên hệ</h2>
                 <p class="text-muted">Địa chỉ: 17 Phố Miếu Đầm, Mễ Trì, Hà Nội</p>
                 <p class="text-muted">Email: info&#64;example.com</p>
                 <p class="text-muted">Điện thoại: 09999999999</p>
               </div>
               <div class="col-md-4">
                 <h2 class="h5">HỖ TRỢ KHÁCH HÀNG</h2>
                 <p class="text-muted">Hướng dẫn mua hàng</p>
                 <p class="text-muted">Phương thức thanh toán</p>
                 <p class="text-muted">Phương thức giao hàng</p>
                 <p class="text-muted">Chính sách bảo hành</p>
                 <p class="text-muted">Khách hàng thân thiết</p>
               </div>
             </div>
           </div>
         </footer>