<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table
      class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
    >
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-6 py-3">#</th>
          <th scope="col" class="px-6 py-3">Category name</th>
          <th scope="col" class="px-6 py-3">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let category of categories; let index = index"
          class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700"
        >
          <td class="p-4">{{ index + 1 }}</td>
          <td class="p-4 max-w-[150px] text-black font-bold">
            {{ category.name }}
          </td>
          <td class="p-4">
           
            <a routerLink="/category/{{category._id}}" class="btn btn-sm btn-primary mr-1 " style="width: 50px; height: 36px;">Sửa</a>

            <button
              (click)="onDelete(category._id)"
              class="text-lg font-bold text-red-600 dark:text-red-500 hover:underline mx-2"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>