<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col" class="px-6 py-3">#</th>
      <th scope="col" class="px-6 py-3">Category name</th>
      <th scope="col" class="px-6 py-3">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of categories; let index = index">
      <td class="p-4">{{ index + 1 }}</td>
      <td class="p-4 max-w-[150px] text-black font-bold">
        {{ category.name }}
      </td>
      <td class="p-4">
        <a
          routerLink="/category/{{ category._id }}"
          class="btn btn-sm btn-primary mr-1 mb-1"
          style="width: 50px; height: 30px"
          >Sửa</a
        >

        <button class="btn btn-sm btn-danger mr-1 mb-1" style="width: 50px; height: 30px"
          (click)="onDelete(category._id)"  
        >
          Xóa
        </button>
      </td>
    </tr>
  </tbody>
</table>
